<!-- core/templates/admin_register.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Register</title>
    <link rel="stylesheet" href="{% static 'admin/css/admin_register.css' %}">
</head>
<body>
    <div class="form-container">
        <h2>Admin Registration</h2>
        {% if messages %}
         <div class="messages">
            {% for message in messages %}
                <p class="{{ message.tags }}">{{ message }}</p>
            {% endfor %}
            </div>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Register</button>
        </form>
        <p>Already registered? <a href="{% url 'login' %}">Login here</a></p>
    </div>
</body>
</html>
