<!DOCTYPE html>
<html>
<head>
    <title>Speedy Bites </title>
</head>
<body>
    <h1>🍽️ Speedy Bites Menu</h1>

    <a href="{% url 'add_menu_item' %}">➕ Add New Item</a>
    <hr>

    {% if menu_items %}
        <ul>
            {% for item in menu_items %}
                <li>
                    <strong>{{ item.name }}</strong> - ₹{{ item.price }} <br>
                    {{ item.description }} <br>
                    <a href="{% url 'edit_menu_item' item.id %}">✏️ Edit</a> |
                    <a href="{% url 'delete_menu_item' item.id %}">🗑️ Delete</a>
                </li>
                <br>
            {% endfor %}
        </ul>
    {% else %}
        <p>No items yet. Add your first dish!</p>
    {% endif %}
</body>
</html>
