{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Speedy Bites </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/landing_page.css' %}"">
</head>
<body>
    <h1>🍽️ Speedy Bites Menu</h1>

    <div class="top-bar">
        <a href="{% url 'add_menu_item' %}" class="add-btn">➕ Add New Item</a>
    </div>

    <hr>

    {% if menu_items %}
        <div class="menu-grid">
            {% for item in menu_items %}
                <div class="menu-card">
                    {% if item.image_data %}
                        <img src="data:image/png;base64,{{ item.image_data }}" alt="{{ item.name }}" class="dish-image"/>
                    {% endif %}
                    <h2>{{ item.name }}</h2>
                    <p class="desc">{{ item.description }}</p>
                    <p class="price">₹{{ item.price }}</p>
                    <div class="actions">
                        <a href="{% url 'edit_menu_item' item.id %}">✏️ Edit</a>
                        <a href="{% url 'delete_menu_item' item.id %}">🗑️ Delete</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No items yet. Add your first dish!</p>
    {% endif %}
</body>
</html>
